node_modules
.env
.aws-sam/build.toml
.aws-sam/build/template.yaml
.aws-sam/build/ScheduledEventFunction/buildspec.yml
.aws-sam/build/ScheduledEventFunction/env.json
.aws-sam/build/ScheduledEventFunction/jsconfig.json
.aws-sam/build/ScheduledEventFunction/package.json
.aws-sam/build/ScheduledEventFunction/README.md
.aws-sam/build/ScheduledEventFunction/samconfig.toml
.aws-sam/build/ScheduledEventFunction/template.yaml
.aws-sam/build/ScheduledEventFunction/__tests__/unit/handlers/webhook.test.mjs
.aws-sam/build/ScheduledEventFunction/src/handlers/webhook.mjs
.aws-sam/build/WebhookFunction/buildspec.yml
.aws-sam/build/WebhookFunction/env.json
.aws-sam/build/WebhookFunction/jsconfig.json
.aws-sam/build/WebhookFunction/package.json
.aws-sam/build/WebhookFunction/README.md
.aws-sam/build/WebhookFunction/samconfig.toml
.aws-sam/build/WebhookFunction/template.yaml
.aws-sam/build/WebhookFunction/__tests__/unit/handlers/webhook.test.mjs
.aws-sam/build/WebhookFunction/src/handlers/webhook.mjs
